*.out
*.swp
web-app/docs
/tmp
*.iws
*Db.properties
*Db.script
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
/out/
/web-app/plugins
/web-app/WEB-INF/classes
.DS_Store
.groovy/**
.settings/**
target/**
plugins/**
target-eclipse/**
/.link_to_grails_plugins
/target/**
/target-eclipse/**
/stacktrace.log
/grails-app/conf/LocalConfig.groovy
/grails-app/conf/QuartzConfig.groovy
.metadata/**
Servers/**
tags
.vimrc
JavaImp
grails-console
/data/
/.settings/
*.iml
.idea/*
