.df-gutter {
	padding: 15px;
}

.df-gutter-top {
	padding-top: 15px;
}

.df-gutter-bottom {
	padding-bottom: 15px;
}

.df-gutter-vertical {
	padding-top: 15px;
	padding-bottom: 15px;
}

.df-gutter-horizontal {
	padding-left: 15px;
	padding-right: 15px;
}

.df-margin-top {
	margin-top: 15px;
}

.df-margin-bottom {
	margin-bottom: 15px;
}

.df-margin-vertical {
	margin-top: 15px;
	margin-bottom: 15px;
}

.margin-z {
	margin: 0;
}