@font-face{font-family:BrixSlab-BlackItalic;src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_0_0.eot);src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_0_0.eot?#iefix) format('embedded-opentype'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_0_0.woff2) format('woff2'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_0_0.woff) format('woff'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_0_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-MediumItalic;src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_1_0.eot);src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_1_0.eot?#iefix) format('embedded-opentype'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_1_0.woff2) format('woff2'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_1_0.woff) format('woff'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_1_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-ExtraLightItalic;src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_2_0.eot);src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_2_0.eot?#iefix) format('embedded-opentype'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_2_0.woff2) format('woff2'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_2_0.woff) format('woff'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_2_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-RegularItalic;src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_3_0.eot);src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_3_0.eot?#iefix) format('embedded-opentype'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_3_0.woff2) format('woff2'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_3_0.woff) format('woff'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_3_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-BoldItalic;src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_4_0.eot);src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_4_0.eot?#iefix) format('embedded-opentype'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_4_0.woff2) format('woff2'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_4_0.woff) format('woff'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_4_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-LightItalic;src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_5_0.eot);src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_5_0.eot?#iefix) format('embedded-opentype'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_5_0.woff2) format('woff2'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_5_0.woff) format('woff'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_5_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-Regular;src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_6_0.eot);src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_6_0.eot?#iefix) format('embedded-opentype'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_6_0.woff2) format('woff2'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_6_0.woff) format('woff'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_6_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-Medium;src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_7_0.eot);src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_7_0.eot?#iefix) format('embedded-opentype'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_7_0.woff2) format('woff2'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_7_0.woff) format('woff'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_7_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-Black;src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_8_0.eot);src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_8_0.eot?#iefix) format('embedded-opentype'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_8_0.woff2) format('woff2'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_8_0.woff) format('woff'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_8_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-Bold;src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_9_0.eot);src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_9_0.eot?#iefix) format('embedded-opentype'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_9_0.woff2) format('woff2'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_9_0.woff) format('woff'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_9_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-Light;src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_A_0.eot);src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_A_0.eot?#iefix) format('embedded-opentype'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_A_0.woff2) format('woff2'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_A_0.woff) format('woff'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_A_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-ExtraLight;src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_B_0.eot);src:url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_B_0.eot?#iefix) format('embedded-opentype'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_B_0.woff2) format('woff2'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_B_0.woff) format('woff'),url(http://ouraring.com/content/themes/evermade-theme/assets/fonts/2D7311_B_0.ttf) format('truetype')}

body {
	padding-top: 88px;
	font-family: 'Brix Slab';
	color: #363636;
	line-height: 26px;
}

b, h1, h2, h3, h4, h5, h6, strong {
	font-family: BrixSlab-Medium, Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.main-header {
	padding: 2rem 0;
	background-color: #fff;
}

.main-header .navbar-nav > li > a {
	font-size: 18px;
}

@media (min-width: 768px) {
	.main-header .navbar-header {
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.main-header .navbar-brand {
		padding-top: 0;
		padding-bottom: 0;
		margin-left: 0;
	}
}

.headline-logo {
	height: 47px;
	margin: 0;
	text-align: center;
}

.headline-logo img, .brand-logo {
	max-height: 100%;
}

.headline {
	font-family: BrixSlab-ExtraLight;
	padding: 15px;
	margin: 20px 0;
}

@media (max-width: 768px) {
	body.no-headline .headline {
		display: none;
	}

	.main-header .navbar-collapse {
		margin-top: 2rem;
		margin-bottom: -2rem;
	}
}

.ring-hand {
	position: relative;
	background: url('http://ouraring.com/content/uploads/2015/04/oura-header-new-man-1200x562.jpg') no-repeat 35% top;
	background-size: cover;
	background-position-y: 0;
	padding: 20px 0;
}

@media (min-width: 768px) {
	.headline {
		font-size: 40px;
	}
	.ring-hand {
		background-position: center 30%;
		min-height: 800px;
	}
}

.main-footer {
	background-color: #000;
	padding-bottom: 50px;
	padding-top: 50px;
	color: #fff;
}

.footer-menu a {
	font-size: 18px;
}

.footer-menu a, .footer-menu a:hover, .footer-menu a:visited {
	color: white;
}

.sidebar-wrapper {
	position: relative;
	height: 100%;
	overflow: auto;
}

#alert-message {
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
}

.login-panel .btn-group .btn {
	color: #2bde73;
	border-radius: 0;
	border-color: #20CF66;
}

.login-panel .btn-group .btn:hover {
	background-color: #57E590;
	color: white;
}

.login-panel .btn-green {
	background-color: #2bde73;
	color: white !important;
}

.login-panel .btn-green:hover {
	background-color: #1DB95B !important;
}

.login-panel .title {
	text-align: center;
	margin: 30px 0;
}

.forgot-container {
	font-size: 17px;
	line-height: 20px;
}

form label {
	font-family: BrixSlab-ExtraLight;
	margin-bottom: 0;
}