@font-face{font-family:BrixSlab-BlackItalic;src:url(./fonts/2D7311_0_0.eot);src:url(./fonts/2D7311_0_0.eot?#iefix) format('embedded-opentype'),url(./fonts/2D7311_0_0.woff2) format('woff2'),url(./fonts/2D7311_0_0.woff) format('woff'),url(./fonts/2D7311_0_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-MediumItalic;src:url(./fonts/2D7311_1_0.eot);src:url(./fonts/2D7311_1_0.eot?#iefix) format('embedded-opentype'),url(./fonts/2D7311_1_0.woff2) format('woff2'),url(./fonts/2D7311_1_0.woff) format('woff'),url(./fonts/2D7311_1_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-ExtraLightItalic;src:url(./fonts/2D7311_2_0.eot);src:url(./fonts/2D7311_2_0.eot?#iefix) format('embedded-opentype'),url(./fonts/2D7311_2_0.woff2) format('woff2'),url(./fonts/2D7311_2_0.woff) format('woff'),url(./fonts/2D7311_2_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-RegularItalic;src:url(./fonts/2D7311_3_0.eot);src:url(./fonts/2D7311_3_0.eot?#iefix) format('embedded-opentype'),url(./fonts/2D7311_3_0.woff2) format('woff2'),url(./fonts/2D7311_3_0.woff) format('woff'),url(./fonts/2D7311_3_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-BoldItalic;src:url(./fonts/2D7311_4_0.eot);src:url(./fonts/2D7311_4_0.eot?#iefix) format('embedded-opentype'),url(./fonts/2D7311_4_0.woff2) format('woff2'),url(./fonts/2D7311_4_0.woff) format('woff'),url(./fonts/2D7311_4_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-LightItalic;src:url(./fonts/2D7311_5_0.eot);src:url(./fonts/2D7311_5_0.eot?#iefix) format('embedded-opentype'),url(./fonts/2D7311_5_0.woff2) format('woff2'),url(./fonts/2D7311_5_0.woff) format('woff'),url(./fonts/2D7311_5_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-Regular;src:url(./fonts/2D7311_6_0.eot);src:url(./fonts/2D7311_6_0.eot?#iefix) format('embedded-opentype'),url(./fonts/2D7311_6_0.woff2) format('woff2'),url(./fonts/2D7311_6_0.woff) format('woff'),url(./fonts/2D7311_6_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-Medium;src:url(./fonts/2D7311_7_0.eot);src:url(./fonts/2D7311_7_0.eot?#iefix) format('embedded-opentype'),url(./fonts/2D7311_7_0.woff2) format('woff2'),url(./fonts/2D7311_7_0.woff) format('woff'),url(./fonts/2D7311_7_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-Black;src:url(./fonts/2D7311_8_0.eot);src:url(./fonts/2D7311_8_0.eot?#iefix) format('embedded-opentype'),url(./fonts/2D7311_8_0.woff2) format('woff2'),url(./fonts/2D7311_8_0.woff) format('woff'),url(./fonts/2D7311_8_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-Bold;src:url(./fonts/2D7311_9_0.eot);src:url(./fonts/2D7311_9_0.eot?#iefix) format('embedded-opentype'),url(./fonts/2D7311_9_0.woff2) format('woff2'),url(./fonts/2D7311_9_0.woff) format('woff'),url(./fonts/2D7311_9_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-Light;src:url(./fonts/2D7311_A_0.eot);src:url(./fonts/2D7311_A_0.eot?#iefix) format('embedded-opentype'),url(./fonts/2D7311_A_0.woff2) format('woff2'),url(./fonts/2D7311_A_0.woff) format('woff'),url(./fonts/2D7311_A_0.ttf) format('truetype')}
@font-face{font-family:BrixSlab-ExtraLight;src:url(./fonts/2D7311_B_0.eot);src:url(./fonts/2D7311_B_0.eot?#iefix) format('embedded-opentype'),url(./fonts/2D7311_B_0.woff2) format('woff2'),url(./fonts/2D7311_B_0.woff) format('woff'),url(./fonts/2D7311_B_0.ttf) format('truetype')}

body {
	padding-top: 88px;
	font-family: 'Brix Slab';
	color: #363636;
	line-height: 26px;
}

b, h1, h2, h3, h4, h5, h6, strong {
	font-family: BrixSlab-Medium, Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.main-header {
	padding: 2rem 0;
	background-color: #fff;
}

.main-header .navbar-nav > li > a {
	font-size: 18px;
}

/**
 * Media queries for small devices (tablets) and up (desktops, large desktops)
 */
@media (min-width: 768px) {
	.main-header .navbar-header {
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.main-header .navbar-brand {
		padding-top: 0;
		padding-bottom: 0;
		margin-left: 0;
	}

	.headline {
		font-size: 40px;
	}
	.ring-hand {
		background-position: center 30%;
		min-height: 800px;
	}
	.main-footer .headline-logo {
		text-align: left;
	}
}

@media (min-width: 768px) and (max-width: 1380px) {
	.ring-hand > .container {
		width: 100%;
	}
}

@media only screen and (min-width : 1824px) {
	.ring-hand > .container {
		width: 1300px;
	}
}

.headline-logo {
	height: 47px;
	margin: 0;
	text-align: center;
}

.headline-logo img, .brand-logo {
	max-height: 100%;
}

.headline {
	font-family: BrixSlab-ExtraLight;
	font-weight: 600;
	padding: 15px;
	margin: 20px 0;
}

/**
 * Media queries for small devices (tablets) and extra small devices (phone) i.e. less than 991px
 */
@media (max-width: 991px) {
	.ring-hand:after {
		opacity: 0.4;
	}
}

/*
 * Media queries for only extra small devices (phone, less than 768px)
 *
 * Keeping max-width as 768px (only for mobile devices) also includes the iPad and iPad mini because the width of
 * those devices is 768px. But we don't want these styles to be applied for iPad iPad mini. The solution to fix this
 * is to reverse all the CSS inside this media query and then apply media query as min-width: 768px for non-mobile
 * devices (like Bootstrap do that) but that will become a CSS performance hit since we have to override each style.
 * So using another approach of Bootstrap for using (max-width - 1px) media query for only mobile devices and not iPad.
 *
 * See for more details here http://getbootstrap.com/css/#grid-media-queries along with default values of constants
 * here http://getbootstrap.com/customize/
 */
@media (max-width: 767px) {
	body.no-headline .headline {
		display: none;
	}

	.main-header .navbar-collapse {
		margin-top: 2rem;
		margin-bottom: -2rem;
	}

	.main-header .navbar-brand {
		padding-top: 10px;
	}
}

.ring-hand {
	position: relative;
	padding: 20px 0;
}

.ring-hand:after {
	position: absolute;
	background: url('/assets/oura-header-new-man-1200x562.jpg') no-repeat 35% top;
	background-size: cover;
	background-position-y: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: "";
	z-index: -1;
}

.main-footer {
	font-family: BrixSlab-Light;
	background-color: #000;
	padding-bottom: 50px;
	padding-top: 50px;
	color: #fff;
}

.footer-menu a {
	font-size: 18px;
}

.footer-menu .social-icons .fa {
	font-size: 2.5rem;
}

.footer-menu a, .footer-menu a:hover, .footer-menu a:visited {
	color: white;
}

.footer-menu .list-inline > li {
	padding-right: 0;
}

.sidebar-wrapper {
	position: relative;
	height: 100%;
	overflow: auto;
}

#alert-message {
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
}

.login-panel {
	margin-bottom: 15px;
}

.login-panel .btn-group {
	margin-bottom: 30px;
}

.login-panel .btn-group .btn {
	color: #2bde73;
	border-color: #20CF66;
}

.login-panel .btn-group > .btn:first-child {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.login-panel .btn-group > .btn:last-child {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.login-panel .btn-group .btn:hover {
	background-color: #57E590;
	color: white;
}

.login-panel .btn-green {
	background-color: #2bde73;
	color: white !important;
}

.login-panel .btn-green:hover {
	background-color: #1DB95B !important;
}

.login-panel .title {
	text-align: center;
	margin: 0 0 30px;
}

.forgot-container {
	font-size: 17px;
	line-height: 20px;
}

form label {
	font-family: BrixSlab-ExtraLight;
	margin-bottom: 0;
}

.ring-hand .sub-heading {
	line-height: 1.4;
	margin-bottom: 20px;
	margin-top: 0;
	padding-bottom: 15px;
}

.coming-soon {
	margin: 40px 0;
}